<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.hw.tcc"></context:component-scan>

    <bean id="tccConfig" class="com.hw.tcc.core.config.TccConfig">
        <property name="maximumPoolSize" value="5"></property>
        <property name="keepAliveTime" value="60000"></property>
        <property name="queueCapacity" value="8000"></property>
        <property name="transactionTimeout" value="3000"></property>
        <property name="maxCount" value="1000"></property>
        <property name="maxRetryTimes" value="3"></property>
        <property name="delaySecondsList" value="1,3,10,20,60,600,3600,7200"></property>
        <property name="lockTimeout" value="10000"></property>
        <property name="tickDuration" value="20"></property>
    </bean>
</beans>